In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

found the directory with the help of OS module

In [2]:
os.getcwd()

'C:\\Users\\hp'

changed the directory to import the file

In [3]:
os.chdir('E:\\')

In [4]:
os.getcwd()

'E:\\'

Imported the csv file in jupyter notebook

In [6]:
df = pd.read_csv('E:\Project_files\FDI_Data.csv', delimiter = ',', header = 0)

In [7]:
df.head()

,Sector,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
0,METALLURGICAL INDUSTRIES,22.69,14.14,36.61,8.11,200.38,149.13,169.94,1175.75,959.94,419.88,1098.14,1786.14,1466.23,567.63,359.34,456.31,1440.18
1,MINING,1.32,6.52,10.06,23.48,9.92,7.40,6.62,444.36,34.16,174.40,79.51,142.65,57.89,12.73,684.39,520.67,55.75
2,POWER,89.42,757.44,59.11,27.09,43.37,72.69,157.15,988.68,907.66,1271.79,1271.77,1652.38,535.68,1066.08,707.04,868.80,1112.98
3,NON-CONVENTIONAL ENERGY,0.00,0.00,1.70,4.14,1.27,1.35,2.44,58.82,125.88,622.52,214.40,452.17,1106.52,414.25,615.95,776.51,783.57
4,COAL PRODUCTION,0.00,0.00,0.00,0.04,0.00,9.14,1.30,14.08,0.22,0.00,0.00,0.00,0.00,2.96,0.00,0.00,0.00

# Sector-Wise FDI from 2000-01 to 2016-17

In [8]:
df.set_index('Sector', inplace = True)

In [9]:
sector_wise_fdi = df.sum(axis = 1)

In [10]:
sector_wise_fdi.head(5)

Sector
METALLURGICAL INDUSTRIES    10330.54
MINING                       2271.83
POWER                       11589.13
NON-CONVENTIONAL ENERGY      5181.49
COAL PRODUCTION                27.74
dtype: float64

In [11]:
sector_fdi_df = pd.DataFrame({'Sector': sector_wise_fdi.index, 'FDI': sector_wise_fdi.values})

In [12]:
csv_file_path = 'E:\\Project_files\\sector_wise_fdi.csv'
sector_fdi_df.to_csv(csv_file_path, index=False)

# Top Sectors and Bottom Sectors

In [13]:
top_sectors = sector_wise_fdi.sort_values(ascending = False)

In [14]:
top_sectors.head(5)

Sector
SERVICES SECTOR (Fin.,Banking,Insurance,Non Fin/Business,Outsourcing,R&D,Courier,Tech. Testing and Analysis, Other)    59476.49
COMPUTER SOFTWARE & HARDWARE                                                                                           24669.49
CONSTRUCTION DEVELOPMENT: Townships, housing, built-up infrastructure and construction-development projects            24293.09
TELECOMMUNICATIONS                                                                                                     23946.01
AUTOMOBILE INDUSTRY                                                                                                    16673.92
dtype: float64

In [15]:
bottom_sectors = sector_wise_fdi.sort_values(ascending = True)

In [16]:
bottom_sectors.head(5)

Sector
COIR                                               4.06
DEFENCE INDUSTRIES                                 5.12
MATHEMATICAL,SURVEYING AND DRAWING INSTRUMENTS     7.98
COAL PRODUCTION                                   27.74
PHOTOGRAPHIC RAW FILM AND PAPER                   67.28
dtype: float64

# Year-Wise FDI from 2000-01 to 2016-17

In [17]:
df_yearly = df.transpose()

In [18]:
year_wise_fdi = df_yearly.sum(axis = 1)
year_wise_fdi.head(10)

2000-01     2378.71
2001-02     4027.69
2002-03     2704.32
2003-04     2187.85
2004-05     3218.69
2005-06     5539.75
2006-07    12491.76
2007-08    24575.40
2008-09    31395.96
2009-10    25834.38
dtype: float64

In [19]:
yearly_fdi = pd.DataFrame({'Year' : year_wise_fdi.index, 'FDI' : year_wise_fdi.values})

In [20]:
yearly_fdi.to_csv('E:\\Project_files\\yearly_wise_fdi.csv', index = False)

# Top and Bottom years

In [21]:
top_years = year_wise_fdi.sort_values(ascending = False)
top_years.head(5)

2016-17    43478.26
2015-16    40000.99
2011-12    35120.78
2008-09    31395.96
2014-15    30930.47
dtype: float64

In [22]:
bottom_years = year_wise_fdi.sort_values(ascending = True)
bottom_years.head(5)

2003-04    2187.85
2000-01    2378.71
2002-03    2704.32
2004-05    3218.69
2001-02    4027.69
dtype: float64

In [23]:
df.head(5)

,2000-01,2001-02,2002-03,2003-04,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
Sector,,,,,,,,,,,,,,,,,
METALLURGICAL INDUSTRIES,22.69,14.14,36.61,8.11,200.38,149.13,169.94,1175.75,959.94,419.88,1098.14,1786.14,1466.23,567.63,359.34,456.31,1440.18
MINING,1.32,6.52,10.06,23.48,9.92,7.40,6.62,444.36,34.16,174.40,79.51,142.65,57.89,12.73,684.39,520.67,55.75
POWER,89.42,757.44,59.11,27.09,43.37,72.69,157.15,988.68,907.66,1271.79,1271.77,1652.38,535.68,1066.08,707.04,868.80,1112.98
NON-CONVENTIONAL ENERGY,0.00,0.00,1.70,4.14,1.27,1.35,2.44,58.82,125.88,622.52,214.40,452.17,1106.52,414.25,615.95,776.51,783.57
COAL PRODUCTION,0.00,0.00,0.00,0.04,0.00,9.14,1.30,14.08,0.22,0.00,0.00,0.00,0.00,2.96,0.00,0.00,0.00

# Which sector receives max fdi in which year

In [43]:
sector_year_wise = df.max(axis = 1)
sector_year_wise.head(5)

Sector
METALLURGICAL INDUSTRIES    1786.14
MINING                       684.39
POWER                       1652.38
NON-CONVENTIONAL ENERGY     1106.52
COAL PRODUCTION               14.08
dtype: float64

In [47]:
max_year_by_sector = df.idxmax(axis=1)
max_year_by_sector

Sector
METALLURGICAL INDUSTRIES                                                                                       2011-12
MINING                                                                                                         2014-15
POWER                                                                                                          2011-12
NON-CONVENTIONAL ENERGY                                                                                        2012-13
COAL PRODUCTION                                                                                                2007-08
                                                                                                                ...
PRINTING OF BOOKS (INCLUDING LITHO PRINTING INDUSTRY)                                                          2015-16
COIR                                                                                                           2014-15
CONSTRUCTION (INFRASTRUCTURE) ACTIVITIES                                                                       2015-16
CONSTRUCTION DEVELOPMENT: Townships, housing, built-up infrastructure and construction-development projects    2009-10
MISCELLANEOUS INDUSTRIES                                                                                       2008-09
Length: 63, dtype: object

In [48]:
year_by_sector = pd.DataFrame({'Sector' : max_year_by_sector.index, 'Year' : max_year_by_sector.values})
year_by_sector.to_csv('E:\\Project_files\\max_year_by_sector.csv', index = False)